/*######## Defaults ########*/
nav, 
header, 
footer {
    display: block;
}

body {
    line-height: 1;
    margin: 0;
}

label {
    font-size: 35px;
    font-family: serif;
    font-weight: 900;
}

p {
    font-size: 25px;
    line-height: 1.1;
}

article p {
    font-size: 30px;
    padding: 20px;
    line-height: 1.2;
}

.container{
    width: 100%;
    margin: auto;
    padding-top: 4%;
    padding-bottom: 4%;   
}

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.row::after {
    display: table;
    clear: both;
    content: "";
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


* {
    box-sizing: border-box;
}


/*######## Nav Bar ########*/

nav {
    width: 100%;
    margin: 0;
}

nav ul{
    background-color: #eee;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

ul.topnav li{
    list-style: none;
    float: left; 
}

ul.topnav li.topnav-right {
    float: right;
}

ul.topnav li a{
    display: block;
    text-decoration: none;
    min-height: 16px;
    text-align: center;
    padding: 14px;
    text-transform: uppercase;
    color: #666;
}


ul.topnav li a:hover{
    background-color: sandybrown;
    color: antiquewhite;
}

ul.topnav li.dropdownIcon{
    display: none;
}

/*######## Custom Styles ########*/


#section-1-gradient{
    background:  linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%)
}
